body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://thumbs.worthpoint.com/zoom/images2/360/0815/05/usa-quarter-dollar-25-cent-coins-dime_360_1502d3edc525e9d1884f6b4f6ee39b74.jpg');
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}